$background-color : #FFF1E3;
$background-menu : #71B885;

$tablet-width: 768px;
$desktop-width: 1024px;

// Font Face \\
@font-face {
  font-family: 'Times';
  font-weight: normal;
  src: url('/static/fonts/time-new-roman/TIMES.TTF'); /* IE9 Compat Mode */
  src: url('/static/fonts/time-new-roman/TIMES.TTF') format('ttf');
}

@font-face {
    font-family: 'Times-Bold';
    font-weight: normal;
    src: url('/static/fonts/time-new-roman/TIMESBD.TTF'); /* IE9 Compat Mode */
    src: url('/static/fonts/time-new-roman/TIMESBD.TTF') format('ttf');
  }

@font-face {
    font-family: 'Times-Bold-Italic';
    font-weight: normal;
    src: url('/static/fonts/time-new-roman/TIMESBI.TTF'); /* IE9 Compat Mode */
    src: url('/static/fonts/time-new-roman/TIMESBI.TTF') format('ttf');
  }

@font-face {
    font-family: 'Times-Italic';
    font-weight: normal;
    src: url('/static/fonts/time-new-roman/TIMESI.TTF'); /* IE9 Compat Mode */
    src: url('/static/fonts/time-new-roman/TIMESI.TTF') format('ttf');
  }

@font-face {
font-family: 'Roboto';
font-weight: normal;
src: url('/static/fonts/ROBOTO-REGULAR.TTF'); /* IE9 Compat Mode */
src: url('/static/fonts/ROBOTO-REGULAR.TTF') format('ttf');
}

@font-face {
    font-family: 'Roboto-italic';
    font-weight: normal;
    src: url('/static/fonts/ROBOTO-ITALIC.TTF'); /* IE9 Compat Mode */
    src: url('/static/fonts/ROBOTO-ITALIC.TTF') format('ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    font-weight: normal;
    src: url('/static/fonts/ROBOTO-BOLD.TTF'); /* IE9 Compat Mode */
    src: url('/static/fonts/ROBOTO-BOLD.TTF') format('ttf');
}

body{
  overflow-x: hidden;
  background-color: $background-color;
}

@mixin mobile {
  @media (max-width: #{$tablet-width}){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}